/***
    The new CSS reset - version 1.5.1 (last updated 1.3.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(iframe, canvas, img, svg, video, input):not(svg *, symbol *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Reapply the pointer cursor for anchor tags */
  a,
  button {
    cursor: revert;
  }
  
  /* Remove list styles (bullets/numbers) */
  ol,
  ul,
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }
  
  /* minimum style to allow to style meter element */
  meter {
    -webkit-appearance: revert;
    -moz-appearance: revert;
         appearance: revert;
  }
  
  /* reset default text opacity of input placeholder */
  ::-moz-placeholder {
    color: unset;
  }
  :-ms-input-placeholder {
    color: unset;
  }
  ::placeholder {
    color: unset;
  }
  
  /* fix the feature of 'hidden' attribute.
     display:revert; revert to element instead of attribute */
  :where([hidden]) {
    display: none;
  }
  
  /* revert for bug in Chromium browsers
     - fix for the content editable attribute will work properly. */
  :where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
  }
  
  /* apply back the draggable feature - exist only in Chromium and Safari */
  :where([draggable=true]) {
    -webkit-user-drag: element;
  }

// VARIABLES

$black: #000000;
$mine-shaft: #272727;
$alabaster: #f8f8f8;
$fresh-eggplant: #800080;
$mischka: #d0cad9;

$ff-body: "Inter", sans-serif;

$fs-36: 36px;
$fs-24: 24px;

$fw-regular: 400;
$fw-bold: 700;

body {
    font-family: "Poppins", sans-serif;
    background-color: $mischka;
    min-height: 100vh;
  }
  
  .container-auth {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .auth {
    width: 100%;

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;;
        width: 100%;
      }

    &-username {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        color: $black;
      }

    &-input {
        background-color: $mischka;
        outline: none;
        border: 1px solid $mine-shaft;
        width: 400px;
        height: 44px;
        margin-top: 24px;
        margin-bottom: 64px;
        padding: 10px;
      }
    
    &-btn {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        border-radius: 4px;
        color: $alabaster;
        cursor: pointer;
        height: 44px;
        max-width: 256px;
        background-color: $fresh-eggplant;
        box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.25), inset -4px -4px 16px rgba(39, 39, 39, 0.1), inset 4px 4px 16px rgba(39, 39, 39, 0.07);
        padding: 8px 42px;
      }
  }
  label[for=text]{
    width: 100%;
    text-align: center;
  }
  button{
    cursor: pointer;
  }

  .container {
    max-width: 1440px;
    width: 100%;
    padding: 56px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &-left {
      flex: 1;
      max-width: 720px;
      margin-right: 40px;
    }
  }

  .date {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: $black;
    margin-bottom: 18px;

    &-btn {
      font-size: 24px;
      color: $fresh-eggplant;
      margin-right: 12px;
    }
  }

  .todo-list-item{
    margin-bottom: 42px;
  }

  .todo-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    width: 100%;
    border: 1px solid $mine-shaft;
    background-color: $alabaster;
    outline: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: $mine-shaft;
    padding: 10px 0;
    transition: 0.3s all;
  }
  
  .todo-content{
    &-done {
      color: #7e7a7a;
    }

    &-edit {
      color: $mine-shaft;
      box-shadow: inset -4px -4px 16px rgba(39, 39, 39, 0.15), inset 4px 4px 16px rgba(39, 39, 39, 0.15);
    }

    &-text{
      width: 80%;
    }
  }

  .todo-content.is-active{
  }
  .todo-content.is-active i{
    opacity: 1;
  }
  .todo-content.is-active .todo-content-text{
    color: #7E7A7A;
  }
  .todo-check {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 54px;
    height: 44px;
    border-right: 1px solid #272727;
    font-size: 24px;
    cursor: pointer;
    margin: 0;

    i{
      opacity: 0;
      color: #7E7A7A;
    }
  }

  .right-buttons{
    display: flex;
  }

  .todo-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 54px;
    height: 44px;
    border-right: 1px solid #272727;
    border-left: 1px solid #272727;
    font-size: 24px;
    cursor: pointer;
    margin: 0;
  }
  
  .todo-update {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 54px;
    height: 44px;
    font-size: 24px;
    cursor: pointer;
    margin: 0;
  }
  
  .btn {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    border-radius: 4px;
    color: $alabaster;
    cursor: pointer;
    height: 44px;
  }
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: $black;
    margin-bottom: 42px;
  }

  .btn-add {
    background-color: $fresh-eggplant;
    box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.25), inset -4px -4px 16px rgba(39, 39, 39, 0.1), inset 4px 4px 16px rgba(39, 39, 39, 0.07);
    padding: 8px 42px;
  }
  .btn-cancel {
    background-color: #7e7a7a;
    box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.1);
    padding: 6px 58px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    &-content {
        background-color: $alabaster;
        margin: 15% auto;
        padding: 40px;
        width: 100%;
        max-width: 750px;
      }
    
    &-title {
        display: flex;

        &-label {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: $mine-shaft;
            margin-right: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 32px;
          }

        &-input {
            width: 100%;
            background-color: $mischka;
            border: 1px solid $mine-shaft;
            color: $mine-shaft;
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            outline: none;
            padding: 10px;
            margin-left: 16px;
            height: 44px;
          }
      }
    
    &-date {
        display: flex;
        margin: 32px 0px;

        &-label {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: $mine-shaft;
            margin-right: 14px;
            display: flex;
            justify-content: start;
            align-items: center;
          }

        &-input {
            background-color: $mischka;
            border: 1px solid $mine-shaft;
            color: $mine-shaft;
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            outline: none;
            padding: 10px;
            height: 44px;
            margin-left: 16px;
          }
    }
    &-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
      }
    &-buttons .btn {
        width: 100%;
        text-align: center;
      }
    &-buttons .btn:not(:last-child) {
        margin-right: 48px;
      }
  }
  /*# sourceMappingURL=style.css.map */
  
  
  